* {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: var(--app-background);
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
}

.btnDelete {
  background-color: var(--delete-button-bgColor);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnDelete:hover {
  background-color: var(--delete-button-bgColor-hover);
}

.btnDisabled {
  display: none;
}

.btnExport {
  background-color: var(--export-button-bgColor);
  border: none;
  color: var(--export-button-fontColor);
  cursor: pointer;
  font-weight: bold;
  height: 100%;
  padding: 0.75em;
}

.btnExport:hover {
  background-color: var(--export-button-bgColor-hover);
  text-decoration: underline;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.container > * {
  padding: 6px;
}

.colorViewer {
  border-radius: 5px;
  height: 25px;
  width: 25px;
}

.colorContainer {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
}

.colorContainer:hover {
  background-color: var(--color-container-hover);
  font-weight: bold;
}

.colorText {
  margin-left: 1em;
  margin-right: 1em;
  flex: 1;
  cursor: pointer;
}

form {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  justify-content: space-between;
  padding: 0.5em 1em;
}

form input[type=color] {
  flex: 1;
  height: 100%;
  margin-right: 1em;
}

form input[type=submit] {
  background-color: var(--add-button-bgColor);
  border: none;
  border-radius: 5px;
  color: var(--add-button-fontColor);
  cursor: pointer;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

form input[type=submit]:hover {
  background-color: var(--add-button-bgColor-hover);
}

.material-symbols-outlined {
  color: var(--delete-button-trashIcon);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

